HOST=0.0.0.0
PORT=4001

# Security
SECRET_KEY="13ffdafe-5daa-11eb-ae93-0242ac130002"

# Database
DATABASE=postgres
DATABASE_HOST=127.0.0.1
DATABASE_DB=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=123456
DATABASE_PORT=4003

DATABASE_URL="${DATABASE}://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${POSTGRES_DB}"